body{
    background-image: url("https://img.freepik.com/free-photo/black-friday-shopping-bag-yellow-copy-space-background_23-2148665780.jpg?w=2000");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 3s;
    background-image: no-repeat;
    
}


#navbar{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

   
}
#options{
    display: flex;
    gap:15px;
}
a{
    text-decoration: none;
    color: brown;
}
input{
    text-align: center;
    margin: auto;

}

h3:hover{
    color: grey;
    background-color: beige;
}